<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="mainpagecss.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">LOGO</a></h1>
            <h3>메인 페이지</h3>

            <ul>
                {% if user %}
                <li>{{user.username}}님 환영합니다.</li>
                <li><a href="/user/profile">프로필페이지</a></li>
                <li><a href="/user/logout">로그아웃</a></li>
                {% else %}
                <li><a href="/user/login">로그인</a></li>
                {% endif %}
                <li><a href="/board/list">게시판</a></li>
            </ul>

        </div>
    </div>
</body>

</html>