{% extends "./_boardLayout.html" %}
{% block container %}
<div id="container">
    <h2>글 수정 페이지</h2>
    <form method="post" action="/board/update">
        <ul>
            <li>제목 : <input type="text" name="subject" value="{{item.subject}}"></li>
            <li>작성자 : <input type="text" name="username" value="{{item.username}}">}}</li>
            <li>작성일 : <input type="text" name="date" value="{{item.date}}"></li>
        </ul>
        <input type="hidden" name="index" value={{index}}>
        <input type="submit" value="수정하기">
    </form>
</div>
{% endblock %}